terraform {
 required_providers {
   aws = {
     source  = "hashicorp/aws"
     version = "~> 4.7"
   }
 }

 backend "s3" {
   bucket         = "<BUCKET_NAME>"
   key            = "state/terraform.tfstate"
   region         = "<AWS_REGION>"
   encrypt        = true
   dynamodb_table = "<TABLE_NAME>"
 }
}

provider "aws" {
 region = var.aws_region
}
